:root {
  --primary-50: rgba(20, 27, 77, .75);
  --primary-500: rgb(20, 27, 77);
  --primary-800: rgb(11, 16, 52);
  --accent-500: rgb(225, 112, 223);
  --error-500: rgb(203, 72, 72);
  --gray-50: rgb(250, 250, 250);

  --space-sm: 16px;
  --space-md: 24px;
  --space-lg: 40px; 

  --text-size-sm: 16px;
  --text-size-md: 32px;
  --text-size-lg: 48px;
  --text-size-xl: 64px;

  --default-border-radius: 4px;
}