<div class="section jumbotron-controller">
  <div class="container">
    <div class="content">
      <div class="title">
        Já pensou se existisse um lugar onde você pode pedir tudo 😍 ? De <strong class="main">produtos a serviços</strong>, na galax seu tempo é precioso.
      </div>
      <div class="actions">
        <button class="btn btn-default"> Eu Quero! </button>
      </div>
    </div>
    <div class="content right">
      <img src="./assets/img/_section_jumbotron.png" alt="Produtos e serviços">
    </div>
  </div>
</div>